html {
    width: 100%;
}

#my-container.container { 
    width: 100%;  
    margin: auto 20px;
   
}

nav.navbar.navbar-default {
    background: #6060A4;   
    color: white;
    border-color: #6060A4;
}

nav.navbar.navbar-inverse {
    margin-top: 50px;
    border-color: #BDBDC6;
    background: #BDBDC6;   
}


#text > .navbar-header >.navbar-brand{
    text-align: center;
    color: #FFFFFF;  
}

#text > ul.nav.navbar-nav  a{
    color: #FFFFFF;
    margin: auto 10px;
}

#text > ul.nav.navbar-nav > li:hover{
    background: #FFFFFF;    
}

#text > ul.nav.navbar-nav  a:hover{
    color: #6060A4;
    
}

.carriers {    
    margin-top: 50px;
    margin-left: 230px;
}

.carrier-display {
    height: 300px;
    margin: 10px 30px;
    background: #6060A4;
}

.carrier-logo {
    width: 200px;
    height: 150px;
    text-align: center;
    margin-top: 10px;
}

div.thumbnail {
    margin-top: 10px;
    height: 200px;
}


/* ************************* */
/* Dashboard-carrierdetails */
#carierdetails-container {
    text-align: center;
    width: 70%;
}

.jumbotron {
    -moz-box-shadow: 0 0 7px #C1C1C1;
    -webkit-box-shadow: 0 0 7px #C1C1C1;
    box-shadow: 0 0 7px #C1C1C1; 
}

#bank-details-btn {
    margin-bottom: 30px;
}

.carrier-details {
    margin-top: 150px;    
    text-align: center;
    padding-bottom: 30px;   
}

.carrier-details > .jumbotron {
    background-color: rgba(29, 77, 139, 0.98); 
}

.jumbotron > span {
    float: right;
}

.carrier-details > .jumbotron {
    padding: 20px 20px;
    color: white;
    background-color: rgba(29, 77, 139, 0.98);    
}

.form-control {
    border: none;
}

.jumbotron > .description {
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 0.9em;
    color: #C5BABA;
}

.my-container {    
    -moz-box-shadow: 0 0 7px #C1C1C1;
    -webkit-box-shadow: 0 0 7px #C1C1C1;
    box-shadow: 0 0 7px #C1C1C1; 
}

.carrier-name {   
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}


#carriername-input {
    border: none;    
    box-shadow: none;  
}

#hr {
    width: 97%;
    margin: 0px;
    display: inline-block;
    border: 0.5px solid #BEBCBC;
}

#icons {
    float: right;
    margin-right: 50px;
    color: #57D4E7;
}

.svg-inline--fa.fa-ellipsis-v.fa-w-6.fa-1x {
    margin-left: 10px;
}

.svg-inline--fa.fa-sliders-v.fa-w-16.fa-1x {
    margin-left: 10px;
}

#business-type {
    margin-bottom: 20px;
}

#business-type > button {
    width: 180px;
    height: 75px;
}

#state-list > button {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;    
}

/*Legal Entity*/
.container-fluid > btn-success {
    margin-bottom: 25px;
}


/*Deanna's Testing Code*/

.carrier-name  p {
    float: left;
    margin-left: 40px;
    vertical-align: middle;
    color: #7272C8;
    font-size: 1.2em;
    font-weight: 500;    
}

.carrier-name  h3 {
    float: left;
    margin-left: 10px;
    vertical-align: middle;
    color: #7272C8;
    font-size: 1.2em;
    font-weight: 500;    
}

#business-individual{
    float: left;
    background-color:rgba(215, 212, 212, 0.77);
    color: rgba(110, 110, 110, 0.77);
    margin-left: 40px;
    margin-top: 35px;
    margin-bottom: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#business-group{
    float: left;
    background-color:rgba(215, 212, 212, 0.77);
    color: rgba(110, 110, 110, 0.77);
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#onexchange {
    background-color:rgba(215, 212, 212, 0.77);
    color: rgba(110, 110, 110, 0.77);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


#offexchange {
    background-color:rgba(215, 212, 212, 0.77);
    color: rgba(110, 110, 110, 0.77);
    margin-top: 43px;
    margin-left: -130px;
    margin-bottom: 10px;
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#input-code-individual-onexchange {
    width: 100%;
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(110, 110, 110, 0.77);
}

#input-code-individual-offexchange {
    width: 100%;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(110, 110, 110, 0.77);
}

#input-code-group {
    width: 100%;
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(110, 110, 110, 0.77);
}