html {
    width: 100%;
}

nav .nav.navbar-nav .active {
    background: none;
    color: black;
}

.nav-pills > li.active > a{
    color: #000000 !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

nav .nav.navbar-nav > li  a:hover {
    background: #9D9D95;
    color: black;
}

#my-container.container { 
    width: 100%;  
    margin: auto 20px;   
}

#my-dropdown {
    width: 100%;  
    background: #A6A6B2;   
    color: #938888;
    border-color: #B8B8E8;
}

nav.navbar.navbar-default {
    background: #6060A4;   
    color: white;
    border-color: #6060A4;
}

nav.navbar.navbar-inverse {
    margin-top: 50px;
    border-color: #BDBDC6;
    background: #BDBDC6;   
}


#text > .navbar-header >.navbar-brand{
    text-align: center;
    color: #FFFFFF;  
}

#text > ul.nav.navbar-nav  a{
    color: #FFFFFF;
    margin: auto 10px;
}

#text > ul.nav.navbar-nav > li:hover{
    background: #FFFFFF;    
}

#text > ul.nav.navbar-nav  a:hover{
    color: #6060A4;
    
}

.carriers {    
    margin-top: 50px;
    margin-left: 230px;
}

.carrier-display {
    height: 300px;
    margin: 10px 30px;
    background: #6060A4;
}

.carrier-logo {
    width: 200px;
    height: 150px;
    text-align: center;
    margin-top: 10px;
}

div.thumbnail {
    margin-top: 10px;
    height: 200px;
}


/* ************************* */
/* Dashboard-carrierdetails */
#carierdetails-container {
    text-align: center;
    width: 70%;
}

.jumbotron {
    -moz-box-shadow: 0 0 7px #C1C1C1;
    -webkit-box-shadow: 0 0 7px #C1C1C1;
    box-shadow: 0 0 7px #C1C1C1; 
}

#bank-details-btn {
    margin-bottom: 30px;
}

.carrier-details {
    margin-top: 150px;    
    text-align: center;
    padding-bottom: 30px;   
}

.carrier-details > .jumbotron {
    background-color: rgba(29, 77, 139, 0.98); 
}

.jumbotron > span {
    float: right;
}

.carrier-details > .jumbotron {
    padding: 20px 20px;
    color: white;
    background-color: rgba(29, 77, 139, 0.98);    
}

.form-control {
    border: none;
}

.jumbotron > .description {
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 0.9em;
    color: #C5BABA;
}

.my-container {    
    -moz-box-shadow: 0 0 7px #C1C1C1;
    -webkit-box-shadow: 0 0 7px #C1C1C1;
    box-shadow: 0 0 7px #C1C1C1; 
}

.carrier-name {   
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.carrier-name  p {
    float: left;
    vertical-align: middle;
    padding-left: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #7272C8;
    font-size: 1.2em;
    font-weight: 600;    
}

#carriername-input {
    border: none;    
    box-shadow: none;  
}

#hr {
    width: 97%;
    margin: 0px;
    display: inline-block;
    border: 0.5px solid #BEBCBC;
}

#icons {
    float: right;
    margin-right: 50px;
    color: #57D4E7;
}

.svg-inline--fa.fa-ellipsis-v.fa-w-6.fa-1x {
    margin-left: 10px;
}

.svg-inline--fa.fa-sliders-v.fa-w-16.fa-1x {
    margin-left: 10px;
}

/* Buttons of business types on dashboard-lineofbusiness page */
#business-type > button{
    margin-bottom: 20px;
    margin-right: 15px;

    width: 220px;
}

#business-type > a {
    width:220px;
    margin-right: 15px;
    
}

#selected-business-type {
    width: 200px;
}

#state-list > button {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;    
}

/* Legal Entity */
.container-fluid > .btn-success {
    margin-bottom: 25px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}