/* background */
* {
    margin: 0;
    padding: 0;     
}
html {
    /* background: url("/images/background.png"); */
    /* background-repeat: no-repeat; */
    background-color: #1D52B5;
}

/* Main container */
#content {
    width: 100%;
    position: absolute;
}


#content > div {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 300px;
}

span > img {
    width: 240px;
    height: 80px;
}

/* Login box */
#login-form {
    position: relative;
    margin: auto auto;
    padding-left: 90px;
}

input {
    
}

#login-btn {
    float: left;
}

#username, #password {
    width: 300px;
}