/* background */
* {
    margin: 0;
    padding: 0;     
}
html {
    /* background: url("/images/background.png"); */
    /* background-repeat: no-repeat; */
    background-color: rgba(140, 12, 72, 0.80);               
}

body {
    background-color: rgba(152, 14, 33, 0.80);               
    
}

#content {
    width: 100%;
}

#content > div {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 300px;
}

span > img {
    width: 240px;
    height: 80px;
}

#login-btn {
    float: left;
}

#username, #password {
    width: 300px;
}